@use '../../styles/abstracts' as *;

.wp-block-ns-article-detail-2 {
  padding: {
    bottom: var(--ns-spacingMajor1);
  }

  @include desktop {
    padding: {
      bottom: var(--ns-spacingMajor2);
    }
  }

  &__hero {
    display: flex;
    flex-direction: column;
    gap: 56px;

    @include desktop {
      height: 576px;
      position: relative;
      overflow: hidden;
      justify-content: center;

      padding: {
        bottom: var(--ns-spacingMajor2);
      }
    }
  }

  &__featured-image {
    position: relative;
    aspect-ratio: 375/150;

    @include tablet {
      height: 350px;
      aspect-ratio: unset;
    }

    @include desktop {
      height: unset;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: hidden;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #00000080;
      }
    }

    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }

  &__title {
    @include wideSize;

    @include desktop {
      width: unset;
      margin: 0;
      position: relative;
      text-align: center;
      align-self: center;
    }
  }

  &__byline {
    @include text-micro;

    margin: {
      top: var(--ns-spacingMini1);
      bottom: var(--ns-spacingMajor2);
    }

    @include desktop {
      margin: {
        top: 0;
        bottom: var(--ns-spacingMini1);
      }
    }
  }

  &__columns {
    @include wideSize;

    @include desktop {
      display: flex;
      gap: 36px;

      margin: {
        top: calc(var(--ns-spacingMajor2) * -1);
      }
    }
  }

  &__content {
    margin: {
      bottom: var(--ns-spacingMajor1);
    }

    @include desktop {
      background-color: #FFFFFF;
      position: relative;

      padding: {
        right: 104px;
        left: 104px;
        top: var(--ns-spacingMajor2);
      }

      margin: {
        bottom: 0;
      }
    }
  }

  &__sidebar {
    flex-basis: 384px;
    flex-shrink: 0;

    @include desktop {
      padding: {
        top: 160px;
      }
    }
  }
}
