@use '../../styles/abstracts' as *;

$background-color: #FFFFFF;

.wp-block-ns-site-footer1 {
  background-color: $background-color;

  &__wrapper {
    @include navSize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

    padding: {
      bottom: 40px;
      top: 40px;
    }

    position: relative;

    @include desktop {
      flex-direction: row;
      gap: 16px;
    }
  }

  &__logo {

    img {
      max-height: 78px;
      max-width: 150px;
      display: block;

      margin: {
        left: auto;
        right: auto;
      }

      @include desktop {
        margin: {
          left: 0;
        }
      }
    }
  }

  &__contact {
    flex-basis: 100%;
    justify-content: space-between;

    @include desktop {
      flex-basis: unset;
      align-self: center;
      justify-content: flex-start;
    }
  }

  &__contact-social {
    display: flex;
    justify-content: space-between;
    list-style: none;

    padding: {
      left: 0;
    }

    margin: {
      top: 0;
      bottom: 0;
    }

    @include desktop {
      justify-content: flex-end;
      gap: 16px;
    }
  }

  &__contact-social-item {
    margin: {
      bottom: 0;
    }
  }

  &__contact-social-link {
    display: block;
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    color: transparent;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: contain;
      @include color-interactive-filter;
    }

    &:hover,
    &:active,
    &:focus {
      color: transparent;
    }

    &.\--facebook {
      &::after {
        background-image: url('~/assets/svgs/socials/facebook.svg');
      }
    }

    &.\--linkedin {
      &::after {
        background-image: url('~/assets/svgs/socials/linkedin.svg');
      }
    }

    &.\--twitter {
      &::after {
        background-image: url('~/assets/svgs/socials/twitter.svg');
      }
    }

    &.\--google {
      &::after {
        background-image: url('~/assets/svgs/socials/google.svg');
      }
    }

    &.\--youtube {
      &::after {
        background-image: url('~/assets/svgs/socials/youtube.svg');
      }
    }

    &.\--instagram {
      &::after {
        background-image: url('~/assets/svgs/socials/instagram.svg');
      }
    }
  }

  &__nav {
    flex-grow: 1;

    @include desktop {
      align-self: center;
    }
  }

  &__nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 32px;

    padding: {
      left: 0;
    }

    margin: {
      top: 0;
      bottom: 0;
    }

    @include desktop {
      flex-direction: row;
      justify-content: center;
      flex-grow: 2;

      margin: {
        bottom: 0;
      }
    }
  }

  &__nav-item {
    margin: {
      bottom: 0;
    }
  }

  &__nav-item-link {
    display: block;
    @include primary-nav;
    line-height: 1;
    color: var(--ns-color-body);
  }

  &__legal {
    @include navSize;
    border-top: 1px solid $color-dark-background;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--ns-spacingMini1);
    line-height: 1.25;
    font-weight: 400;

    padding: {
      top: 32px;
      bottom: 32px;
    }

    @include desktop {
      align-items: unset;
      flex-direction: row;
      gap: 0;
      @include text-micro;

      padding: {
        top: 40px;
        bottom: 40px;
      }
    }

    a {
      color: var(--ns-color-body);
      text-decoration: none;

      &:hover,
      &:focus {
        color: var(--ns-color-interactive);
        text-decoration: underline;
      }
    }
  }

  &__copyright-dot {
    display: none;

    @include tablet {
      display: inline;
    }
  }

  &__copyright-links {}

  &__legal-noble {

    @include desktop {
      flex-grow: 1;
      text-align: right;
    }
  }
}