.ns-sidebar-link-control {

  // fixes the width and margins in a link control when in a sidebar
  .block-editor-link-control {
    min-width: 100%;

    &__field {
      margin: {
        top: 0;
        left: 0;
        right: 0;
      }
    }

    &__tools {
      padding: {
        left: 0;
        right: 0;
      }
    }

    &__search-item {
      &.is-current {
        padding: {
          top: 0;
          left: 0;
          right: 0;
        }
      }

      &.is-preview {

        .block-editor-link-control__search-item-header {
          flex-basis: 100%;
          flex-shrink: 0;
        }
      }
    }

    &__search-results {
      padding: {
        left: 0;
        right: 0;
      }
    }

    &__search-item {
      padding: {
        left: 0;
        right: 0;
      }

      &-top {
        flex-wrap: wrap;
      }

      &-action {
        margin: {
          left: unset;
        }
      }
    }
  }
}