<!-- wp:template-part {"slug":"header","theme":"ns-bb-theme","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:ns/tertiary-hero {"heroStyle":"square-image","backgroundImage":139,"eyebrow":"Error Code 404","headline":"Page Not Found ","intro":"Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. Morbi ac felis. Quisque id odio. Phasellus volutpat, metus eget egestas mollis, lacus lacus blandit dui, id egestas quam mauris ut lacus. Etiam iaculis nunc ac metus.","links":[]} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ns-bb-theme","tagName":"footer"} /-->
