<!-- wp:template-part {"slug":"header","theme":"ns-bb-theme","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:ns/default-hero {"backgroundImage":139,"headline":"Events","excerptOverride":"Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis vel nibh at velit scelerisque suscipit. Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur a felis in nunc fringilla tristique."} /-->

    <!-- wp:ns/listing {"headline":"Events","postType":"tribe_events","defaultSort":"event_date","showFilters":["tribe_events_cat"]} /--></main>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"footer","theme":"ns-bb-theme","tagName":"footer"} /-->
