<!-- wp:template-part {"slug":"header","theme":"ns-bb-theme","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->

<main class="wp-block-group">
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:paragraph {"align":"center","className":"is-style-p-micro"} -->
    <p class="has-text-align-center is-style-p-micro">This page contains all footers, with 2 copies of each (using each of our Noble logos as a test of logo size).</p>
    <!-- /wp:paragraph -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Footer 1</h2>
    <!-- /wp:heading -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xs"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xs">Example 1</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/footer1 {"logo":83,"privacyLink":{"url":"https://www.google.com"},"termsLink":{"url":"https://medcor.lndo.site/sample-page/"}} /-->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Footer 1</h2>
    <!-- /wp:heading -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xs"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xs">Example 2</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/footer1 {"logo":82,"privacyLink":{"url":"https://www.google.com"},"termsLink":{"url":"https://medcor.lndo.site/sample-page/"}} /-->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Footer 2</h2>
    <!-- /wp:heading -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xs"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xs">Example 1</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/footer2 {"logo":83,"privacyLink":{"url":"https://www.google.com"},"termsLink":{"url":"https://www.google.com"}} /-->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Footer 2</h2>
    <!-- /wp:heading -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xs"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xs">Example 2</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/footer2 {"logo":82,"privacyLink":{"url":"https://www.google.com"},"termsLink":{"url":"https://www.google.com"}} /-->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Footer 3</h2>
    <!-- /wp:heading -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xs"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xs">Example 1</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/footer3 {"logo":83,"privacyLink":{"url":"https://www.google.com"},"termsLink":{"url":"https://www.google.com"},"formIntro":"Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Vestibulum suscipit nulla quis orci."} -->
    <!-- wp:ns/footer-dummy-form /-->
    <!-- /wp:ns/footer3 -->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Footer 3</h2>
    <!-- /wp:heading -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xs"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xs">Example 2</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/footer3 {"logo":82,"privacyLink":{"url":"https://www.google.com"},"termsLink":{"url":"https://www.google.com"},"formIntro":"Praesent metus tellus, elementum eu, semper a, adipiscing nec, purus. Vestibulum suscipit nulla quis orci."} -->
    <!-- wp:ns/footer-dummy-form /-->
    <!-- /wp:ns/footer3 -->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Footer 4</h2>
    <!-- /wp:heading -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xs"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xs">Example 1</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/footer4 {"logo":83,"privacyLink":{"url":"test"},"termsLink":{"url":"test"},"formIntro":"Donec posuere vulputate arcu. In dui magna, posuere eget, vestibulum et, tempor auctor, justo.","formCta1":{"title":"CTA","url":"https://www.google.com","target":null},"formCta2":{"title":"CTA","url":"https://www.google.com","target":null}} /-->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Footer 4</h2>
    <!-- /wp:heading -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xs"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xs">Example 2</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/footer4 {"logo":82,"privacyLink":{"url":"test"},"termsLink":{"url":"test"},"formIntro":"Donec posuere vulputate arcu. In dui magna, posuere eget, vestibulum et, tempor auctor, justo.","formCta1":{"title":"CTA","url":"https://www.google.com","target":null},"formCta2":{"title":"CTA","url":"https://www.google.com","target":null}} /-->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Footer 5</h2>
    <!-- /wp:heading -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xs"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xs">Example 1</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/footer5 {"logo":83,"privacyLink":{"url":"test"},"termsLink":{"url":"test"},"ctaImage":139,"ctaIntro":"Curabitur at lacus ac velit ornare lobortis. Vivamus euismod mauris. Donec vitae sapien ut libero venenatis faucibus.","ctaButtonLink":{"url":"test"},"formIntro":"Donec posuere vulputate arcu. Suspendisse non nisl sit amet velit hendrerit rutrum."} -->
    <!-- wp:ns/footer-dummy-form /-->
    <!-- /wp:ns/footer5 -->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Footer 5</h2>
    <!-- /wp:heading -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xs"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xs">Example 2</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/footer5 {"logo":82,"privacyLink":{"url":"test"},"termsLink":{"url":"test"},"ctaImage":139,"ctaIntro":"Curabitur at lacus ac velit ornare lobortis. Vivamus euismod mauris. Donec vitae sapien ut libero venenatis faucibus.","ctaButtonLink":{"url":"test"},"formIntro":"Donec posuere vulputate arcu. Suspendisse non nisl sit amet velit hendrerit rutrum."} -->
    <!-- wp:ns/footer-dummy-form /-->
    <!-- /wp:ns/footer5 -->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Footer 6</h2>
    <!-- /wp:heading -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xs"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xs">Example 1</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/footer6 {"logo":83,"privacyLink":{"url":"test"},"termsLink":{"url":"test"},"ctaImage":139,"ctaIntro":"Fusce pharetra convallis urna. Pellentesque commodo eros a enim. Cras non dolor. Proin viverra, ligula sit amet ultrices semper.","ctaButtonLink":{"url":"test"},"formIntro":"Nullam cursus lacinia erat. Nam at tortor in tellus interdum sagittis. Aenean viverra rhoncus pede."} -->
    <!-- wp:ns/footer-dummy-form /-->
    <!-- /wp:ns/footer6 -->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Footer 6</h2>
    <!-- /wp:heading -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xs"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xs">Example 2</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/footer6 {"logo":82,"privacyLink":{"url":"test"},"termsLink":{"url":"test"},"ctaImage":139,"ctaIntro":"Fusce pharetra convallis urna. Pellentesque commodo eros a enim. Cras non dolor. Proin viverra, ligula sit amet ultrices semper.","ctaButtonLink":{"url":"test"},"formIntro":"Nullam cursus lacinia erat. Nam at tortor in tellus interdum sagittis. Aenean viverra rhoncus pede."} -->
    <!-- wp:ns/footer-dummy-form /-->
    <!-- /wp:ns/footer6 -->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Footer 7</h2>
    <!-- /wp:heading -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xs"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xs">Example 1</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/footer7 {"logo":83,"privacyLink":{"url":"test"},"termsLink":{"url":"test"},"ctaImage":139,"ctaIntro":"Integer tincidunt. Nullam sagittis. Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit.","ctaButtonLink":{"url":"test"},"formIntro":"Praesent ut ligula non mi varius sagittis. Suspendisse potenti. Praesent nonummy mi in odio."} -->
    <!-- wp:ns/footer-dummy-form /-->
    <!-- /wp:ns/footer7 -->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Footer 7</h2>
    <!-- /wp:heading -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xs"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xs">Example 2</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/footer7 {"logo":82,"privacyLink":{"url":"test"},"termsLink":{"url":"test"},"ctaImage":139,"ctaIntro":"Integer tincidunt. Nullam sagittis. Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit.","ctaButtonLink":{"url":"test"},"formIntro":"Praesent ut ligula non mi varius sagittis. Suspendisse potenti. Praesent nonummy mi in odio."} -->
    <!-- wp:ns/footer-dummy-form /-->
    <!-- /wp:ns/footer7 -->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Footer 8</h2>
    <!-- /wp:heading -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xs"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xs">Example 1</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/footer8 {"logo":83,"privacyLink":{"url":"test"},"termsLink":{"url":"test"},"ctaImage":139,"ctaIntro":"Curabitur suscipit suscipit tellus. Curabitur a felis in nunc fringilla tristique. Fusce egestas elit eget lorem.","ctaButtonLink":{"url":"test"},"formIntro":"Aenean massa. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla."} -->
    <!-- wp:ns/footer-dummy-form /-->
    <!-- /wp:ns/footer8 -->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Footer 8</h2>
    <!-- /wp:heading -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xs"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xs">Example 2</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/footer8 {"logo":82,"privacyLink":{"url":"test"},"termsLink":{"url":"test"},"ctaImage":139,"ctaIntro":"Curabitur suscipit suscipit tellus. Curabitur a felis in nunc fringilla tristique. Fusce egestas elit eget lorem.","ctaButtonLink":{"url":"test"},"formIntro":"Aenean massa. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla."} -->
    <!-- wp:ns/footer-dummy-form /-->
    <!-- /wp:ns/footer8 -->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">End of Footer Examples</h2>
    <!-- /wp:heading -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xs"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xs">Below is the actual page footer</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->
</main>
<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ns-bb-theme","tagName":"footer"} /-->
