<!-- wp:template-part {"slug":"header","theme":"ns-bb-theme","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"default"}} -->

<main class="wp-block-group">
    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Nav 1</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/nav-simple {"navMobileCTA":true,"navMobilePhone":true,"navCTALink":{"url":"https://dev-ns-bb-theme.pantheonsite.io/sitemap/","id":433,"title":"Sitemap","type":"page","kind":"post-type"},"navCTALabel":"CTA","desktopImage":12,"mobileImage":13,"navDeskAlign":"center"} /-->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Nav 2</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/nav-simple {"navMobileCTA":true,"navMobilePhone":true,"navCTALink":{"url":"https://dev-ns-bb-theme.pantheonsite.io/listings-test/","id":394,"title":"Listings Test","type":"page","kind":"post-type"},"navCTALabel":"CTA","desktopImage":12,"mobileImage":13} /-->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Nav 3</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/nav-top-logo {"navMobileCTA":true,"navMobilePhone":true,"navCTALink":{"url":"https://dev-ns-bb-theme.pantheonsite.io/listings-test/","id":394,"title":"Listings Test","type":"page","kind":"post-type"},"navCTALabel":"CTA","desktopSearchCTALocation":"secondary","desktopImage":12,"mobileImage":13} /-->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Nav 4</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/nav-top-logo {"navMobileCTA":true,"navMobilePhone":true,"navCTALink":{"url":"https://dev-ns-bb-theme.pantheonsite.io/listings-test/","id":394,"title":"Listings Test","type":"page","kind":"post-type"},"navCTALabel":"CTA","desktopImage":12,"mobileImage":13} /-->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Nav 5</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/nav-full-logo {"navMobileCTA":true,"navMobilePhone":true,"navCTALink":{"url":"https://dev-ns-bb-theme.pantheonsite.io/sitemap/","id":433,"title":"Sitemap","type":"page","kind":"post-type"},"navCTALabel":"CTA","desktopImage":12,"mobileImage":13} /-->

    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:heading {"textAlign":"center","className":"is-style-hl-xl"} -->
    <h2 class="wp-block-heading has-text-align-center is-style-hl-xl">Nav 6</h2>
    <!-- /wp:heading -->

    <!-- wp:spacer -->
    <div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->

    <!-- wp:ns/nav-bottom-logo {"navMobileCTA":true,"navMobilePhone":true,"navCTALink":{"url":"https://dev-ns-bb-theme.pantheonsite.io/listings-test/","id":394,"title":"Listings Test","type":"page","kind":"post-type"},"navCTALabel":"CTA","desktopImage":12,"mobileImage":13} /-->

    <!-- wp:group {"layout":{"type":"default"}} -->
    <div class="wp-block-group --styleguide-group"><!-- wp:spacer -->
    <div style="height:200px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
</main>
<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"ns-bb-theme","tagName":"footer"} /-->
